* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.title-container {   /*container*/
    height:150px;
    flex-direction: column; /*column*/
    display: flex;
    background-color: #595959;
    justify-content: center; /*always on the main axis*/
    align-items: center; /*always on the cross axis*/

    flex-wrap: wrap;
}

@font-face {
    font-family: interstate;
    src: url("../font/Interstate.otf");
}

.title {
    flex-basis: 100px;
    width: 500px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10px;
    display: flex; /*mmakes this into flex too... below centers div*/
    justify-content: center;
    align-items: center;
    font-family: interstate;
    font-size: 50px;
    font-weight: bold;
}

.img{
    background-color: blue;
    background: url("/img/banz.png") no-repeat;
    background-position-y: bottom;
}

.title2 {
    .title {
        height: 200px;
        width: 500px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        margin: 10px;
        display: flex; /*mmakes this into flex too... below centers div*/
        justify-content: center;
        align-items: center;
        font-family: interstate;
        font-size: 50px;
        font-weight: bold;
    }
}

py-script {
    font-size: 5100x;
}

a {
    text-decoration: none;
    background-color: rgb(38, 38, 38);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;

}

a:hover {
    background-color: #808080;
}


.bighistory-container {
    width: 80%;
    height: 400%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;

    
    flex-direction: row; /*column*/
    display: flex;
    background-color: black;
    justify-content: center; /*always on the main axis*/
    align-items: center; /*always on the cross axis*/
    

    flex-wrap: wrap;
}


.history-container {
    width: 70%;
    height: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;

    
    flex-direction: row; /*column*/
    display: flex;
    background-color: black;
    justify-content: center; /*always on the main axis*/
    align-items: center; /*always on the cross axis*/
    

    flex-wrap: wrap;
}

.history {
    flex-basis: 600px;
    height: 200px;
    background: white;
    color: black;

    margin: 10px;

    display: flex; /*mmakes this into flex too... below centers div*/
    justify-content: center;
    align-items: center;
}

.bighistory {
    flex-basis: 600px;
    height: 350px;
    background: white;
    color: black;
    flex-direction: column;

    margin: 10px;

    display: flex; /*mmakes this into flex too... below centers div*/
    justify-content: center;
    align-items: center;
}


p {
    margin: 20px;
}

img {

    margin-left:auto;
    margin-right: auto;

}

.img-container {
    height: 600px;
    flex-direction: row; /*column*/
    display: flex;
    justify-content: center; /*always on the main axis*/
    align-items: center; /*always on the cross axis*/

}